.animal {
    height: 780px;
    background: url(/assets/images/Giant\ Panda.jpg) ;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}


.circle {
    width: 460px;
    height: 460px;
    margin-top: 92px;
    margin-right: 108.31px;
    border-radius: 50%;
    border: coral;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80px;
    position: relative;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.circle-text {
    position: absolute;
    top: 74px;
    left: 73px;
}

.content {
    max-width: 1160px;
    margin: 0 auto;
}

.animal .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.circle span {
    color: #FFEE2E;
}

.animal .btn {
    margin-top: 69px;
    margin-right: 99px;
}

.online:hover {
    cursor: pointer;
    background: #E47209;
}

.backstage {
    padding-top: 140px;
    position: relative;
}

.backstage .content {
    display: flex;
}

.img-bamboo {
    margin-right: 87px;
}

.uppercase {
    text-transform: uppercase;
}

.favorite {
    padding-top: 180px;
    position: relative;
}

.favorite .arrow {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.favorite .arrow.left img {
    transform: rotate(-180deg);
}

.favorite .arrow:active,
.btn.online:active {
    background: #4b9200;
}

.flower {
    position: absolute;
    top: 12px;
    right: -40px;
}

.favorite .content {
    margin: 0 20px;
}

.favorite-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed {
    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.favorite .img-wrapper {
    width: 366px;
    height: 366px;
}

.favorite ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
}

.favorite li {
    overflow: hidden;
    width: 366px;
    border-radius: 5px;
    border: 1px solid #F9804B;
}

.favorite .card-content {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px 11px 16px;
}

.favorite .card-content img {
    margin-top: 2px;
}

.favorite span {
    display: block;
}

.favorite .title .first-line {
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
}

.favorite .title .second-line {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.favorite .online {
    margin-bottom: 100px;
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.strelitzia {
    position: absolute;
    bottom: 0;
    right: -38px;
}

.palm {
    position: absolute;
    bottom: 0;
    left: -40px;
}

.feed .content {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-top: 41px;
    padding-bottom: 59px;
}

.pick {
    color: #FE9013;
    font-size: 48px;
    font-weight: 400;
    line-height: 57.6px;
    text-align: center;
}

.feed h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: #333B41;
    margin-top: 30px;
    margin-bottom: 40px;
}

.feed p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    color: #333B41;
}

.first-paragraph {
    margin-bottom: 10px;
}


.feed h4 {
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    color: #333B41;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}

.fo-paragraph {
    margin-right: 192px;
}

.paragraph {
    margin-left: 99px;
}

.list-cards .img-wrapper {
    background-color: #FFFFFF;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #F9804B;
}

.list-cards {
    display: flex;
    justify-content: center;
}

.card span {
    display: block;
    margin-top: 30px;
}

.list-cards .card {
    width: 168px;
    height: 244px;
}

.img-arrow {
    height: 244px;
    margin-left: 30px;
    margin-right: 31px;
    padding-top: 62px;
}

.feed .online {
    margin-top: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.testimonials {
    padding-top: 140px;
    padding-bottom: 180px;
    position: relative;
}

.testimonials h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    text-align: center;
    color: #333B41;
    margin-bottom: 47px;
}

.testimonials ul {
    display: flex;
    justify-content: space-between;
}

.testimonials-card {
    border-radius: 20px;
    width: 268px;
    padding: 2px;
    width: 268px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.testimonials-card-inner {
    padding: 10px 11px 19px 16px;
    background: #F1F3F2;
    border-radius: 20px;
}

.testimonials-card-text {
    height: 309px;
    overflow: hidden;
}

.testimonials-card-title {
    display: flex;
}

.testimonials .avatar {
    width: 37px;
    height: 37px;
    margin-right: 10px;
    margin-bottom: 11px;
}

.testimonials-card-subtitle {
    display: flex;
}

.testimonials h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #000000;
    margin-bottom: 1px;
}

.testimonials h4 {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #BDBDBD;
}

.testimonials p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #767474;
}

.testimonials button {
    border-radius: 5px;
    margin-top: 58px;
}

.testimonials .leav {
    position: absolute;
    right: -40px;
    bottom: -130px;
}
