.animal {
    height: 780px;
    background: url(../../assets/images/Giant\ Panda.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.circle {
    width: 465px;
    height: 465px;
    margin-top: 92px;
    margin-right: 108.31px;
    border-radius: 50%;
    border: coral;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80px;
    position: relative;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.circle-text {
    position: absolute;
    top: 74px;
    left: 82px;
}

.animal .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.circle span {
    color: #FFEE2E;
}

.nogradient {
    background-color: #F9804B;
}

.animal .btn {
    margin-top: 69px;
    margin-right: 99px;
}

.online:hover {
    cursor: pointer;
    background: #E47209;
}

.backstage {
    padding-top: 140px;
    padding-bottom: 74px;
    position: relative;
}

.backstage .content {
    display: flex;
}

.backstage .text {
    color: #333B41;
}

.img-bamboo {
    margin-right: 87px;
}

.uppercase {
    text-transform: uppercase;
}

.favorite {
    padding-top: 100px;
    position: relative;
}

.favorite .arrow {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.favorite .arrow.left img {
    transform: rotate(-180deg);
}

.favorite .arrow:active,
.btn.online:active {
    background: #4b9200;
}

.waw-arrow {
    display: none;
}

.flower {
    position: absolute;
    top: 12px;
    right: 0;
}

.favorite .content {
    margin: 0 20px;
}

.favorite-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed {
    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.fo-paragraph a {
    text-decoration: none;
    color:  #333B41;
    display: inline-block;
    border-bottom: 1px solid #FE9013;
}

.animals-list .img-wrapper {
    width: 366px;
    height: 366px;
    overflow: hidden;
    position: relative;
}

.animals-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
}

.animals-list li {
    position: relative;
    overflow: hidden;
    width: 366px;
    border-radius: 5px;
    border: 1px solid #F9804B;
}

.overlay {
    position: absolute;
    width: 366px;
    height: 366px;
    background: black;
    opacity: 0.6;
}

.animals-list li:hover {
    cursor: pointer;
}

.animals-list li:hover .img-wrapper img {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 386px;
}

.animals-list .title {
    position: relative;
    transition: 0.5s;
}

.animals-list li:hover .title {
    color: white;
    transform: translateY(-55px);
}

.favorite .card-content {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px 11px 16px;
}

.favorite .card-content img {
    margin-top: 2px;
}

.favorite span {
    display: block;
}

.favorite .title .first-line {
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
}

.favorite .title .second-line {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.favorite .online {
    margin-bottom: 100px;
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.strelitzia {
    position: absolute;
    bottom: 0;
    right: 0;
}

.palm {
    position: absolute;
    bottom: 0;
    left: -590px;
}

.feed .content {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-top: 41px;
    padding-bottom: 59px;
}

.pick {
    color: #FE9013;
    font-size: 48px;
    font-weight: 400;
    line-height: 57.6px;
    text-align: center;
}

.feed h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: #333B41;
    margin-top: 30px;
    margin-bottom: 40px;
}

.feed p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    color: #333B41;
}

.first-paragraph {
    margin-bottom: 10px;
}


.feed h4 {
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    color: #333B41;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}

.fo-paragraph {
    margin-right: 192px;
}

.paragraph {
    margin-left: 99px;
}

.list-cards .img-wrapper {
    background-color: #FFFFFF;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #F9804B;
}

.list-cards {
    display: flex;
    justify-content: center;
}

.list-cards .card span {
    display: block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #333B41;
}

.list-cards .card {
    width: 168px;
    height: 244px;
}

.img-arrow {
    height: 244px;
    margin-left: 30px;
    margin-right: 31px;
    padding-top: 62px;
}

.feed .online {
    margin-top: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.testimonials {
    padding-top: 140px;
    padding-bottom: 180px;
    position: relative;
}

.testimonials h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    text-align: center;
    color: #333B41;
    margin-bottom: 47px;
}

.testimonials ul {
    display: flex;
    justify-content: space-between;
}

.testimonials-card {
    border-radius: 20px;
    width: 268px;
    padding: 2px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.testimonials-card-inner {
    padding: 10px 11px 19px 16px;
    background: #F1F3F2;
    border-radius: 20px;
}

.testimonials-card-text {
    height: 309px;
    overflow: hidden;
}

.testimonials-card-title {
    display: flex;
}

.testimonials .avatar {
    width: 37px;
    height: 37px;
    margin-right: 10px;
    margin-bottom: 11px;
}

.testimonials-card-subtitle {
    display: flex;
}

.testimonials h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #000000;
    margin-bottom: 1px;
}

.testimonials h4 {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #BDBDBD;
}

.testimonials p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #767474;
}

.testimonials button {
    border-radius: 5px;
    margin-top: 31px;
}

.testimonials .leav {
    position: absolute;
    right: -162px;
    bottom: -130px;
}

.slidecontainer {
    margin: 21px auto 0;
    width: 599px;
    height: 8px;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.slider {
    position: absolute;
    top: 1px;
    left: 1px;
    -webkit-appearance: none;
    appearance: none;
    width: 597px;
    height: 6px;
    border-radius: 5px;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: #F5F7F6;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 115.19px;
    height: 6px;
    border-radius: 5px;
    background: #FE9013;
    cursor: pointer;
}

@media screen and (max-width: 1599px) {
    .content {
        max-width: unset;
    }

    .animal {
        height: 58.4vw;
    }

    .flower {
        display: none;
    }

    .circle {
        width: 367px;
        height: 367px;
        font-size: 85px;
        line-height: 63.75px;
        margin-top: 6.9%;
        margin-right: 17.7%;
    }

    .circle-text {
        top: 53.8px;
        left: 65px;
    }

    .animal .btn {
        margin-top: 4.7%;
        margin-right: 13.7%;
    }

    .img-bamboo img {
        width: 45.5vw;
        height: 40.8vw;
        object-fit: cover;
    }

    .img-bamboo {
        margin-right: 3.1vw;
        padding-top: 9px;
        padding-bottom: 10px;
    }

    .backstage {
        padding-top: 100px;
        padding-bottom: 140px;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .favorite {
        padding-top: 0px;
        padding-bottom: 34px;
    }

    .favorite .content {
        margin: 0 30px;
    }

    .animals-list .img-wrapper {
        width: 29.4vw;
        height: 29.4vw;
    }

    .animals-list img {
        block-size: inherit;
    }

    .animals-list li  {
        width: 29.4vw;
    }

    .overlay {
        width: 29.4vw;
        height: 29.4vw;
        block-size: inherit;
    }

    .strelitzia {
        width: 24.1vw;
        height: 18.0vw;
    }

    .palm {
        width: 38.6vw;
        height: 20.2vw;
        left: -192px;
    }

    .backstage {
        padding-top: 100px;
        padding-bottom: 138px;
    }

    .arrow {
        position: absolute;
    }

    .left {
        left: calc(30px + 32.3vw);
    }

    .right {
        right: calc(30px + 32.3vw);
    }

    .animals-list {
        row-gap: 92px;
        column-gap:unset;
        justify-content:space-between;
    }

    .feed {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .feed h3 {
        margin: 20px 0;
    }

    .feed h4 {
        margin-top: 40px;
    }

    .btn online {
       margin-top: 70px;
    }

    .favorite .online {
        margin-bottom: 104px;
        margin-top: 79px;
        background-color: #FE9013
    }

    .paragraph {
        margin-left: 50px;
    }

    .feed .content {
        padding-bottom: 50px;
        padding-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .first-paragraph {
        margin-right: 80px;
    }

    .fo-paragraph {
        margin-right: 80px;
    }

    .feed .online {
        margin-top: 70px;
    }

    .testimonials {
        padding-top: 100px;
        padding-bottom: 139px;
    }

    .testimonials h2 {
        margin-bottom: 30px;
    }

    .wraper-testimonials {
        margin-left: 30px;
        margin-right: 30px;
    }

    .testimonials-card {
        width: 291px;
    }

    .testimonials button {
        margin-left: 30px;
        margin-top: 53px;
    }

    .testimonials .leav {
        right: -130px;
        width: 326px;
        bottom: -85px;
        height: 322px;
    }

    .testimonials-card:last-child {
        display: none;
        width: calc(1/3*100% - (1 - 1/3)*10px);
    }

    .slidecontainer,
    .slider {
        width: 391px;
    }

    .slider::-webkit-slider-thumb {
        width: 75px;
    }
}

@media screen and (max-width: 999px) {

    .circle {
        width: 37.03vw;
        height: 37.03vw;
        font-size: 13.28vw;
        line-height: 9.96vw;
        margin-top: 6.91vw;
        margin-right: 10.95vw;
    }

    .circle-text {
        font-size: 8.48vw;
        line-height: 6.36vw;
    }

    .text {
        width: 495px;
    }

    .img-bamboo {
        display: none;
    }

    .flower {
        display: block;
        top: -1.09vw;
        right: -4.84vw;
        width: 161px;
    }

    .animal {
        position: relative;
    }

    .animal .btn {
        position: absolute;
        bottom: 40px;
        left: 20.21px;
    }

    .circle-text {
        top: 6.1vw;
        left: 6.2vw;
    }

    .backstage {
        padding: 58px 0px 80px 22px;
    }

    .text h3 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .animals-list li:nth-last-child(1),
    .animals-list li:nth-last-child(2) {
        display: none;
    }

    .animals-list .img-wrapper{
        width: 44.53vw;
        height: 44.53vw;
    }

    .animals-list li {
        width: 44.53vw;
    }

    .favorite .content {
        margin: 0 20px 0 20px;
    }

    .favorite .online {
        margin-top: 60px;
        margin-bottom: 100px;
    }

    .right {
        margin-top: 11px;
        margin-bottom: 19px;
        right: calc(30px + 33.3vw);
    }

    .left {
        margin-top: 11px;
        margin-bottom: 19px;
        left: calc(30px + 33.2vw);
    }

    .overlay {
        width: 44.53vw;
        height: 44.53vw;
    }

    .favorite .title .first-line {
        font-size: 12.47px;
        line-height: 17.46px;
    }

    .favorite .title .second-line {
        font-size: 11.69px;
        line-height: 14.03px;
    }

    .favorite .card-content {
        padding: 7px 9px 6px 12px;
    }

    .favorite .card-content img {
        height: 29px;
    }

    .animals-list {
        row-gap: 93px;
    }

    .favorite {
        padding-bottom: 0;
    }

    .strelitzia {
        width: 27.34vw;
        height: 20.46vw;
    }

    .palm {
        width: 60.15vw;
        height: 31.56vw;
        left: -39vw;
    }

    .feed .content {
        margin-left: 0;
        margin-right: 0;
    }

    .feed {
        padding-top: 18px;
        padding-bottom: 19px;
    }

    .feed .content {
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 60px;
        padding-left: 20px;
    }

    .pick {
        font-size: 42px;
        line-height: 50.4px
    }

    .feed h3 {
        font-size: 22px;
        line-height: 26.4px
    }

    .feed p {
        font-size: 16px;
        line-height: 20.8px;
        margin-right: 0;
    }

    .paragraph {
        margin-left: 0;
    }

    .feed h4 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .waw-arrow {
        display: block;
        right: -60px;
        position: absolute;
        top: -18px;
        z-index: 1;
    }

    .img-arrow {
        display: none;
    }

    .list-cards .img-wrapper {
        position: relative;
        width: 168px;
    }

    .feed .online {
        margin-top: 40px;
    }

    .list-cards {
        justify-content: space-between;
        padding-right: 12px;
        max-width: 600px;
        margin: 0 auto;
    }

    .img-arrow {
        margin-right: 54px;
        margin-left: 0;
    }

    .testimonials {
        padding: 60px 20px 0 20px ;
    }

    .wraper-testimonials {
        margin-left: 0;
        margin-right: 0;
    }

    .testimonials-card {
        width: 100%;
        height: 109px;
    }

    .testimonials ul {
        flex-direction: column;
        row-gap: 15px;
    }

    .slidecontainer, .slider {
        display: none;
    }

    .testimonials-contend {
        overflow: hidden;
        height: 86px;
    }

    .testimonials-card-inner {
        padding: 15px 29px 8px 12px;
    }

    .testimonials button {
        margin: 40px auto 81px auto;
        display: block;
    }

    .testimonials button {
        width: 37.5vw ;
    }

    .testimonials .leav {
        right: -88px;
        bottom: -67px;
        width: 203.8px;
        height: 201.2px;
    }
    .text h2 {
        padding-left: 2px;
    }

    }

@media screen and (max-width: 639px) {
    main {
        margin-top: 34px;
    }

    .animal .btn {
        bottom: -74px;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 5px;
        padding-right: 1px;
    }

    .circle {
        width: 37.21vw;
        height: 37.21vw;
        margin-top: 6.92vw;
        margin-right: 11.87vw;
    }

    .circle-text {
        font-size: 8.75vw;
        line-height: 6.56vw;
        top: 6vw;
    }

    .animal {
        overflow:visible;
    }

    .text h2 {
        font-size: 7.5vw;
        line-height: 9vw;
        margin: 30px 10px 10px 10px;
    }
    .backstage {
        padding: 74px 0 0 0;
    }

    .first-text {
        padding: 0 11px 20px 12px;
    }

    .text h3 {
        margin: 0 95px 10px 12px;
    }

    .second-text {
        margin: 0 10px 37px 10px;
    }

    .flower {
        top: 11.56vw;
        right: -12.81vw;
        width: 23.12vw;
    }

    .favorite .arrow {
        display: none;
    }

    .favorite {
        padding: 0 17.76px 0 17px ;
    }

    .animals-list li {
        width: 89.13vw;
    }

    .animals-list .img-wrapper {
        width: 89.13vw;
        height: 89.13vw;
    }

    .overlay {
        width: 89.13vw;
        height: 89.13vw;
    }

    .animals-list {
        row-gap: 21px;
    }

    .favorite .online {
        margin-top: 22px;
        margin-bottom: 60px;
    }

    .strelitzia {
        width: 26.56vw;
        height: 22.18vw;
        right: -17.5px;
        bottom: -4px;
    }

    .palm {
        width: 43.12vw;
        height: 22.50vw;
        left: -25vw;
    }

    .favorite .card-content {
        padding: 6px 6px 6px 12px;
    }

    .favorite .card-content img {
        width: 37.41px;
        height: 29.62px;
    }

    .feed {
        padding-left: 10px;
        padding-right: 11px;
        padding-bottom: 21px;
    }

    .pick {
        font-size: 24px;
        line-height: 28.8px;
    }

    .feed .content {
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    .feed h3 {
        font-size: 18px;
        line-height: 21.6px;
        text-align: center;
        margin-top: 10px;
        row-gap: 9px;
    }

    .feed p {
        display: none;
    }

    .feed h4 {
        margin-top: 20px;
        font-size: 24px;
        line-height: 28.8px;
    }

    .list-cards {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        row-gap: 20px;
    }

    .waw-arrow {
        transform: rotate(85deg);
        top: 196px;
        right: -61px;
    }

    .waw-arrow:first-child {
        top: 188px;
    }

    .feed .online {
         margin-top: 31px;
    }

    .list-cards .card span {
         margin-top: 10px;
    }

    .list-cards .card:first-child {
        height: 222px;
    }

    .list-cards .card:not(:first-child) {
        height: 231px;
    }

    .testimonials {
        padding: 30px 10px 20px 11px;
    }

    .testimonials h2 {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 28.8px;
    }

    .testimonials button {
        width: 75vw;
        margin: 30px auto 61px auto;
    }

    .testimonials .leav {
         bottom: -33px;
        transform: rotate(346deg);
        width: 103px;
        right: -47px;
        height: 99px;
    }

    .testimonials-card-inner {
        padding: 11px 29px 12px 12px
    }

    .testimonials {
        padding-bottom: 0;
    }
}
