main {
    transform: translateY(76px);
}

.donate-anime {
    height: 390px;
    background: url(../../assets/images/panda_bg.jpg);
}

.donate-inform {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);;
}

.color-text-white  {
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    color:  #FFFFFF;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.donate-inform p {
    color:  #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
}

.color-text-orange {
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    color: #FE9013;
    padding-top: 44px;
    padding-bottom: 60px;
    margin-bottom: 1px
}

.donate-container {
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 40px 92px 62px 92px;
    margin-bottom: 180px;
}

.donate-card {
    width: 976px;
}

#donate-h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 57.6px;
    text-align: center;
    color: #FE9013;
    margin-left: -12px;
}

#donate-p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: #333B41;
    padding-top: 21px;
}

.bottom-wrapper {
    margin-top: 42px;
}

.animal-feed {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animal-diet {
    margin-left: -14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal-diet span:first-child {
    font-weight: 500;
    font-size: 72px;
    line-height: 57.6px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 11px;
    margin-top: 50px;
}

.animal-diet span:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    color: #333B41;
}

.symbol {
    font-size: 26.4px;
    color: #333B41;
    margin: 19px 64px 0 11px;
}

.amount-namber {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #000000;
    margin-left: 4px;
}

.number-scale {
    width: 976px;
  margin-top: 15px;
}

.digit-scale-wrapper {
    margin-top: 18px;
    padding: 12px 15px 11px 11px;
    background: #404950;
    border-radius: 2px;
}

.digit-scale {
    display: flex;
    justify-content: space-between;
    height: 2px;
}

.digit-scale li {
    position: relative;
}

.btn-circle {
    transform: translate(0px,-21px);
    padding: 6.53px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid transparent;
}

.scale-line {
    width: 100%;
    padding: 0 15px;
}

.scale-line div {
    background: #72828E;
    height: 2px;
}

.digit-circle-wrapper {
    padding: 4.48px;
    border-radius: 50%;
    border: 2px solid transparent;
}

.digit-scale-wrapper .active .btn-circle,
.digit-scale-wrapper .active .digit-circle-wrapper {
    border-color: #FE9013;
}

.digit-scale-wrapper .active .digit,
.digit-scale-wrapper .active .digit span:last-child {
    color: #FE9013;
}

.digit-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFEE2E;
}

.digit span:first-child {
    margin-right: 1px;
    font-size: 22px;
    font-weight: 500;
}

.digit span:last-child {
    font-weight: 500;
    font-size: 26px;
    line-height: 36.4px;
    color: #333B41;
    text-decoration: none;
}

.digit {
    position: absolute;
    transform: translate(-12px, -16px);
}

.amount {
    width: 268px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    background: transparent;
    padding: 15px 10px 15px 9px;
    margin: 0;
    border: 1px solid #929699;
    border-radius: 2px;
    -moz-appearance: textfield;
    webkit-appearance: none;
}

.amount::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #929699;
}

.amount::-webkit-inner-spin-button {
    display: none;
}

.amount-wrapper {
    position: relative;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 23px;
}

.amount-wrapper span {
    position: absolute;
    top: 16px;
    right: 9px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22.4px;
    color: #929699;
}

.form-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
}

.radio-feed-wrapper {
    display: flex;
    margin-left: -16px;
}

.radio-feed-wrapper .container-radio-feed:first-child {
    margin-right: 50px;
}

.container-radio-feed {
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #333B41;
}

.container-radio-feed input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container-radio-feed .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #FE9013;
}

.container-radio-feed .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio-feed input:checked ~ .checkmark:after {
    display: block;
}

.container-radio-feed input:checked ~ .checkmark {
    background: #4B9200;
    border: 1px solid #4B9200;
}

.container-radio-feed .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.online:hover {
    cursor: pointer;
    background: #E47209;
}

.feed-btn {
    margin-top: 31px;
    margin-bottom: 30px;
    margin-left: 6px;
}

.you-friends {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #333B41;
    display: block;
    text-align: center;
    padding-left: 5px;
}

.btn.online:active {
    background: #4b9200;
}

footer {
    transform: translateY(76px);
}

.footer-input:invalid ~ input {
    color: #D31414;
    border: 1px solid #D31414;
}

.footer-input:valid ~ input {
    border: 1px solid #333B41;
    color: #000000;
}

.footer-input:valid ~ input:hover {
    border: 1px solid #4B9200;
    color: #4B9200;
}

@media screen and (max-width: 1599px) {
    main {
        max-width: unset;
    }

    .donate-anime {
        margin-top: 4px;
        background-position-x: -172px;
    }

    .color-text-white {
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 192px;
        text-align: unset;
    }

    .donate-inform p {
        padding-left: 31px;
        padding-right: 30px;
    }

    .color-text-orange {
        padding-top: 45px;
        padding-bottom: 40px;
        padding-left: 31px;
    }

    .donate-container {
        margin: 0 30px 30px 30px;
        padding: 10px 0 46px 0;
    }

    #donate-h2 {
        padding: 9px 0 10px 0;
    }

    #donate-p {
        padding: 0 44px 0 47px;
    }

    .amount-namber {
        margin-left: 65px;
    }

    .digit-scale li:first-child {
        display: none;
    }

    .digit-scale-wrapper {
        margin-left: 65px;
        margin-right: 65px;
        padding: 12px 0px 11px 0px;
    }

    .digit {
        transform: translate(-1px, -14px);
    }

    .digit.three-digit {
        transform: translate(3px, -14px);
    }


    .digit.two-digit {
        transform: translate(7px, -14px);
    }

    footer .menu {
        margin-left: 5px;
    }
}

@media screen and (max-width: 999px) {
    main {
        transform: translateY(29.5px);
    }

    .donate-anime {
        height: 335px;
        margin-top: 5px;
        background-position-x: -272px;
        background-size: 1373px;
        background-repeat: no-repeat;
    }

    .color-text-white {
        font-size: 24px;
        line-height: 28.8px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
    }

    .donate-inform p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .color-text-orange {
        padding-top: 27px;
        padding-bottom: 30px;
        padding-left: 20px;
    }

    .donate-container {
        margin: 0 20px 46px 20px;
        padding: 19px 0 31px 0;
    }

    #donate-h2 {
        padding: 9px 68px 20px 80px;
    }

    #donate-p {
        padding: 0;
        text-align: center;
    }

    .animal-feed {
        margin: 50px 41px 0 41px;
    }

    .digit-scale li:nth-child(2),
    .digit-scale li:nth-child(3) {
        display: none;

    }

    .digit-scale-wrapper {
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
        padding: 12px 20px 11px 20px;
    }

    .amount-namber {
        margin-left: 10px;
    }

    .digit.three-digit,
    .digit.two-digit {
        transform: translate(-5px, -14px);
    }

    .amount {
        width: 28.12vw;
        height: 6.56vw;

    }

    .feed-btn {
        margin-top: 35px;
        margin-bottom: 29px;
        margin-left: 2px;
    }

    footer {
        transform: translateY(29.5px);
    }

    .amount-wrapper span {
        top: 8px;
    }

    .amount {
        padding: 12px 10px 15px 6px;
    }

    .form-feed {
        margin-top: 92px;
    }

    .feed-btn {
        margin-top: 31px;
    }
}


@media screen and (max-width: 639px) {
    .donate-anime {
        height: 187px;
        margin-top: 5px;
        background-size: 766.42px;
        background-position-x: -149px;
    }

    .color-text-white {
        padding: 30px 10px 20px 10px;
    }

    .donate-inform p {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 22px;
    }

    .color-text-orange {
        font-size: 24px;
        line-height: 28.8px;
        padding: 30px 83px 30px 10px;
    }

    .donate-container {
        margin: 0 10px 20px 10px;
        padding: 20px 0;
    }

    #donate-h2 {
        font-size: 24px;
        line-height: 28.8px;
        padding:  0 0 8px;
        margin-left: 0;
    }

    #donate-p {
        font-size: 16px;
        line-height: 22.4px;
    }

    .amount-namber {
        margin-left: 0;
    }

    .digit-scale-wrapper {
        margin-top: 8px;
        padding: 6px 0 5.5px 0;
    }

    .digit-scale {
        height: 1px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .digit-circle {
        width: 5px;
        height: 5px;
    }

    .btn-circle {
        padding: 2.26px;
        transform: translate(0px,-11px);
    }

    .digit-circle-wrapper {
        padding: 2px;
    }

    .digit span:first-child {
        font-size: 11px;
    }

    .digit span:last-child {
        font-size: 13px;
    }

    .digit.three-digit {
        transform: translate(-2px, -19px);
    }

    .digit.two-digit {
        transform: translate(-1px, -19px);
    }

    .bottom-wrapper {
        margin-top: 1px;
    }

    .form-feed {
        margin-top: 39px;
    }

    .feed-btn {
        margin-top: 28px;
    }

    .scale-line {
        height: 1px;
        padding: 0;
        margin-left: 20px;
        margin-right: 20px;
        width: unset;
    }

    .animal-feed {
        margin: 10.28px 0 0 0;
        justify-content: flex-start;
    }

    .animal-feed img {
        width: 160.15px;
        height: 138.72px;
    }

    .animal-diet {
        margin-left: 0;
    }

    .animal-diet span:first-child {
        font-size: 40.6px;
        line-height: 32.48px;
        margin-top: 31px;
        margin-left: 2px;
        margin-bottom: 5px;
    }

    .animal-diet span:last-child {
        font-size: 8.7px;
        line-height: 12.63px;
        padding-left: 0;
    }

    .symbol {
        font-size: 20px;
        margin: 12px 36px 0 6px;
    }

    .amount {
        width: 180px;
        height: 42px;
    }

    .you-friends {
        padding-left: 0;
        font-size: 15.9px;
    }

    footer .menu {
        margin-left: 12px;
    }

    .form-feed {
        margin-top: 39px;
        margin-left: -2px;
    }

    .feed-btn {
        margin-top: 28px;
    }
}
